* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0; 
  }
  
body {
  align-items: center;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

canvas {
  border: 1px solid #4e4d4d;
  margin-top: 10px;
}

.start-game {
  background-color: #55c5b8;
  border-bottom: 3px solid #336a6a;
  border-right: 3px solid #336a6a;
  border-radius: 20px;
  color: #336a6a;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
}

.start-game:hover {
  background-color: #958bbf;
  border-bottom: 3px solid #6569a5;
  border-right: 3px solid #6569a5;
  color: #2e2e42;
}

/**
 * Buttons
 */
 #game-control {
  display: none;
}

#game-control.show {
  display: flex;
}

.btn {
  background-color: #2a2a2a;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px; 
}

.btn:disabled {
  background-color: #acadad !important;
  border: 1px solid #757574 !important;
  color: #7b7b7b !important;
}

.btn:not(:last-child) {
  margin-right: 15px; 
}
.btn.restart {
  background-color: #41c5ab;
  border: 2px solid #336a6a;
  color: #333e51; 
}
.btn.pause {
  border: 2px solid #4c3a72;
  color: #4c3a72;
  background-color: #8f73da;
}


/**
 * Modal
 */

.modal {
  display: none;
 }

 .modal .content {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  padding: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 20%;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 10;
 }


 .modal .content button {
  background-color: #55c5b8;
  border-bottom: 3px solid #336a6a;
  border-right: 3px solid #336a6a;
  border-radius: 20px;
  color: #336a6a;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
 }

 .modal .content button:hover {
    background-color: #958bbf;
    border-bottom: 3px solid #6569a5;
    border-right: 3px solid #6569a5;
    color: #2e2e42;
 }

.modal::after {
  content: "";
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.modal.show {
  display: block;
}

.modal.show::after {
  display: block;
}